<nav-header/>

<div class="page">
  <div class="table-header">
    <p-button>Add new</p-button>
  </div>
    <p-table [value]="coordinates"
             styleClass="p-datatable-gridlines p-datatable-sm"
             [scrollable]="true"
             [paginator]="true"
             [rows]="PAGE_SIZE"
             [first]="getFirstRowIndex()"
             [lazy]="true"
             (onLazyLoad)="updateData($event)"
             [totalRecords]="count"
             [customSort]="true"
             (sortFunction)="updateData($event)"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">
            Id <p-sortIcon field="id"/>
          </th>
          <th pSortableColumn="x">
            X <p-sortIcon field="x"/>
          </th>
          <th pSortableColumn="y">
            Y <p-sortIcon field="y"/>
          </th>
          <th></th>
        </tr>
        <tr>
          <th>
            <input style="height: 34px" pInputText [(ngModel)]="filter.filters.id" (input)="updateData()"/>
          </th>
          <th>
            <input style="height: 34px" pInputText [(ngModel)]="filter.filters.x" (input)="updateData()"/>
          </th>
          <th>
            <input style="height: 34px" pInputText [(ngModel)]="filter.filters.y" (input)="updateData()"/>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-coord>
        <tr>
          <td>{{ coord.id }}</td>
          <td>{{ coord.x }}</td>
          <td>{{ coord.y }}</td>
          <td>
            <div class="buttons">
              <p-button size="small" [outlined]="true">Edit</p-button>
              <p-button size="small" [outlined]="true" severity="danger">Delete</p-button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">No items found</td>
        </tr>
      </ng-template>
    </p-table>
</div>
