<p-table [value]="data"
         [columns]="tableConfig.columns"
         styleClass="p-datatable-gridlines p-datatable-sm"
         [paginator]="true"
         [rows]="tableConfig.pageSize"
         [first]="getFirstRowIndex()"
         [lazy]="true"
         (onLazyLoad)="updateData($event)"
         [totalRecords]="count"
         [customSort]="true"
         (sortFunction)="updateData($event)"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col" style="width: 10%">
        {{ col }} <p-sortIcon [field]="col"/>
      </th>
      <th *ngIf="addButtons"></th>
    </tr>
    <tr>
      <th *ngFor="let col of columns">
        <input style="height: 34px" pInputText [(ngModel)]="filter.filters[col]" (input)="filtersOnInput()"/>
      </th>
      <th *ngIf="addButtons" style="width: 10%"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-entity let-columns="columns">
    <tr [ngClass]="{'row-no-access': !entity.accessible}">
      <td *ngFor="let col of columns" [innerHTML]="entity[col]"></td>
      <td *ngIf="addButtons" style="padding: 0">
        <div style="min-width: 160px" *ngIf="entity.accessible" class="buttons">
          <p-button size="small" [outlined]="true"
                    [style]="{height: '25px'}"
                    (click)="update.emit(entity)"
          >
            Edit
          </p-button>
          <p-button size="small" [outlined]="true"
                    [style]="{height: '25px'}" severity="danger"
                    (click)="delete.emit(entity.id)"
          >
            Delete
          </p-button>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="4">No items found</td>
    </tr>
  </ng-template>
</p-table>
