:host ::ng-deep .row-no-access {
  background-color: rgba(0, 0, 0, 0.1);
}

.table-header {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
  margin-right: 10px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
