<nav-header/>

<div class="page">
  <div class="table-container">
    <div class="table-header">
      <p-button (click)="add()">Add new</p-button>
    </div>
    <entity-table [tableConfig]="TABLE_CONFIG"
                  [data]="data"
                  [count]="count"
                  (needRefresh)="loadData($event)"
                  (delete)="delete($event)"
                  (update)="edit($event)"/>
  </div>
</div>

<location-form [(visible)]="form.visible"
               [location]="form.location"
               [isNew]="form.id === 0"
               (save)="onFormSave($event)"/>
